.signup-email {
  text-align: center;
  font-size: 18px;
}
.line-product {
    display: table-row;
}
.line-product .left-line, .line-product .right-line {
    display: table-cell;
}
.line-product .left-line {
    padding-right: 20px;
}
.line-product .left-line, .line-product .right-line {
    vertical-align: middle;
    width: 50%;
}
.line-product .left-line:after, .line-product .right-line:after {
    background-color: #d45a5a;
    content: "";
    width: 100%;
    display: inline-block;
    height: 1px;
    vertical-align: middle;
}
.line-product .title {
    white-space: nowrap;
    margin-bottom: 0;
    text-align: center;
    font-weight: bold;
    color: #d45a5a;
    font-size: 25px;  
}
.line-product .right-line {
    padding-left: 20px;
}
